<div class="container">
  <h2>Blood Bank</h2>

  <div class="blood-groups">
    <!-- Blood groups grid list -->
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let bloodGroup of bloodGroups">
        <mat-card class="blood-group-card">
          {{ bloodGroup.name }}
        </mat-card>
        <mat-card class="blood-group-card">{{ bloodGroup.count }}</mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="blood-requirement">
    <h2>Blood Requirement Form</h2>
    <mat-grid-list cols="4" rowHeight="100px">
      <div class="form-field">
        <!-- Blood required dropdown -->
        <label for="blood-required">Blood Required</label>
        <mat-form-field appearance="fill">
          <mat-select
            id="blood-required"
            [(ngModel)]="selectedBloodRequired"
            name="selectedBloodRequired"
            cdkDrag
          >
            <mat-option
              *ngFor="let bloodGroup of bloodGroups"
              [value]="bloodGroup.name"
            >
              {{ bloodGroup.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="form-field">
          <label for="number-of-bottles">Number of Bottles</label>
          <mat-form-field appearance="fill">
            <mat-select
              id="number-of-bottles"
              [(ngModel)]="selectedBottles"
              name="selectedBottles"
              (ngModelChange)="updateDonorGroups(); updateBloodBankCount()"
              cdkDrag
            >
              <!-- Display bottle options based on selected blood group -->
              <ng-container *ngFor="let group of bloodGroups">
                <ng-container *ngIf="group.name === selectedBloodRequired">
                  <mat-option
                    *ngFor="let option of getBottleOptions(group.count)"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </ng-container>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <!-- Selected number of bottles -->
          <div *ngIf="selectedBottles" class="selected-bottles">
            Selected: {{ selectedBottles }}
          </div>
        </div>

        <div class="bucket" cdkDropList (cdkDropListDropped)="onDrop($event)">
          <!-- Bucket items -->
          <div class="bucket-item" *ngIf="selectedBloodRequired" cdkDrag>
            <div class="blood-group-card">
              {{ selectedBloodRequired }}
            </div>
            <div class="blood-group-card">
              {{ selectedBottles }}
            </div>
          </div>
        </div>
      </div>
    </mat-grid-list>
  </div>
</div>
